<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Visitante</th>
    <th scope="col">Entrada</th>
    <th scope="col">Salida</th>
    <th scope="col">Area</th>
    <th scope="col">Empleador</th>
    <th scope="col">Motivo</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Victor Ramses Camacho Martinez</td>
    <td>17:29</td>
    <td>NA</td>
    <td>Area A</td>
    <td>Juan Perez Jimenez</td>
    <td>Reunion</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob Luna Villasana</td>
    <td>18:45</td>
    <td>20:03</td>
    <td>Area B</td>
    <td>Sergio Montero Valdez</td>
    <td>Entrega de material</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td> Ulises Ivan Escobarcito Diaz </td>
    <td>14:50
    <td>17:41</td>
    <td>Area C</td>
    <td>Laura Alondra Guzman</td>
    <td>Entrevista</td>
  </tr>
  </tbody>
</table>
